<template name="auth">

    <div class="container auth">

        <div class="header">
            <div class="icon"></div>
            <h1 class="title">Login to your account / register new</h1>
            <div class="loader"></div>
        </div>

        <div class="content clearfix">

            <div class="login">
                <div class="social">
                    {{#if fbLoggedIn }}
                        <div class="btn facebook center" id="fb-logout">
                            <div class="icon"></div>
                            Logout from <span>Facebook</span>
                        </div>
                    {{else}}
                        <div class="btn facebook center" id="fb-login">
                            <div class="icon"></div>
                            Login with <span>Facebook</span>
                        </div>
                    {{/if}}
                </div>
                <div class="spacer_hor"></div>
                <div class="form_holder">
                    <form id="login-form" action="action">
                        <input type="text" class="large" name="username" placeholder="User Name" id="login-username">
                        <input type="password" class="large" name="password" placeholder="Password" id="login-password">
                        <div class="btn blue right" id="login">Login</div>
                        <span class="remember">
                            <input type="checkbox" name="remember_token" id="remember_token" value="none">
                            <label for="remember_token"></label>
                            <h5>remember my password</h5>
                        </span>
                    </form>
                </div>
            </div>

            <div class="register">
                <div class="header">
                    <div class="avatar">
                        <h4>Profile Image</h4>
                        <div class="upload"></div>
                    </div>
                    <h3>Register</h3>
                </div>
                <div class="form_holder">
                    <form id="register-form" action="action">
                        <label for="email">email</label>
                            <input type="email" name="email" id="register-email">
                        <label for="username">user name</label>
                            <input type="text" name="username" id="register-username">
                        <label for="password">password</label>
                            <input type="password" name="password" id="register-password">
                        <div class="btn yellow right" id="register">Register</div>
                    </form>
                </div>
            </div>

            <span class="spacer"></span>

        </div>

    </div>

</template>