<head>
  <title>HiFlu demo app</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
</head>

<body>
	<div class="parallax-viewport">
		<div class="parallax-layer far" data-parallaxify-range="160">
			<div class="circle github"></div>
			<div class="circle facebook"></div>
			<div class="circle linkedin"></div>
			<div class="circle pinterest"></div>
			<div class="circle twitter"></div>
			<div class="circle yelp"></div>
		</div>
		<div class="parallax-layer mid" data-parallaxify-range="80">
			<div class="circle github"></div>
			<div class="circle facebook"></div>
			<div class="circle linkedin"></div>
			<div class="circle pinterest"></div>
			<div class="circle twitter"></div>
			<div class="circle yelp"></div>
		</div>
		<div class="parallax-layer close" data-parallaxify-range="40">
			<div class="circle github"></div>
			<div class="circle facebook"></div>
			<div class="circle linkedin"></div>
			<div class="circle pinterest"></div>
			<div class="circle twitter"></div>
			<div class="circle yelp"></div>
		</div>
	</div>
</body>

<template name="layout">
  {{> yield}}
</template>