<template name="profile">

    <div class="container profile">

        <div class="header">
            <div class="icon"></div>
            <h1 class="title">{{profile.profile.name}}</h1>
            <div class="loader"></div>
        </div>

        <div class="content clearfix">
            
            {{#with profile}}
            <div class="profile clearfix">
                <div class="avatar">
                    <div class="image"></div>
                    <div class="upload"></div>
                </div>
                <div class="info">
                    <div><span>Name: </span>{{profile.name}}</div>
                    <div><span>Email: </span>{{emails.[0].address}}</div>
                </div>
            </div>
            {{/with}}

            <div class="tags">
                <h1>Tags</h1>
                    <div class="tag_holder">
                    {{#each profileTags}}
                        <span class="tag">{{this.tagName}}</span>
                    {{else}}
                        <div class="no_tag">There are no tags selected yet..</div>
                    {{/each}}
                    </div>
                {{#if profileOwner}}
                    <select id="profileTags" data-placeholder="Select some tags" multiple>
                        {{#each tags}}
                            <option value="{{this._id}}" selected="{{selectedTag this.name}}">{{this.name}}</option>
                        {{/each}}
                    </select>
                {{/if}}
            </div>
            
            <div class="spacer_hor"></div>
            
            <div class="comments">
                <h1>Comments</h1>
                
                {{#each comments}}
                    <div class="comment">
                        <div class="name">{{name}}</div>
                        <div class="time">{{formatTime time}}</div>
                        <div class="text">{{text}}</div>
                    </div>
                {{else}}
                    <div class="no_comment">
                        No comments yet.. Be the first to reply!
                    </div>
                {{/each}}

                <div class="reply">
                    <form id="reply-form" action="action">
                        <input type="text" id="reply-name" name="name" placeholder="Your name" class="small">
                        <textarea id="reply-text" class="small"></textarea>
                        <div class="btn blue reply">Reply</div>
                    </form>
                </div>
            </div>

        </div>

    </div>

</template>