/**
 * SCSS file for the auth view
 */

.container.auth {
	.content {
		position: relative;
		@include span(12 of 12);
		> div {
			float: left;
			margin: 25px 0;
			padding: 0 24px;
			@include span(6 of 12);
			&:last-of-type {
				@include span(6 of 12 last);
			}
		}
		span.spacer {
			background-color: #e7e7e7;
			height: 80%;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translateY(-50%);
			width: 1px;
		}
		.social {
			margin: 25px 0;
		}
		.form_holder {
			form {
				label {
					font-size: 1.6rem;
					float: left;
					margin: -2.8rem 5px 0;
					text-transform: capitalize;
				}
			}
		}
		.login {
			.remember {
				float: left;
				margin-top: 15px;
				position: relative;
				input[type="checkbox"] {
					float: left;
					width: 20px;
					margin: 0 auto;
					position: relative;
					&:checked + label::after {
						opacity: 1;
					}
				}
				label {
					background-color: #ccc;
					border-radius: 5px;
					color: #cbcbcb;
					cursor: pointer;
					display: inline;
					height: 20px;
					font-size: 1.4rem;
					margin: 0;
					position: absolute;
					left: 0;
					bottom: 0;
					width: 20px;
					&::after {
						opacity: 0;
						content: '';
						position: absolute;
						width: 9px;
						height: 5px;
						background: transparent;
						top: 6px;
						left: 6px;
						border: 3px solid #333;
						border-top: none;
						border-right: none;
						transform: rotate(-45deg);
					}
					&:hover::after {
						opacity: 0.5;
					}
				}
				h5 {
					font-weight: 300;
					height: 20px;
					line-height: 20px;
					margin: 0;
					padding-left: 30px;
					width: 100%;
				}
			}
		}
		.register {
			.header {
				h3 {
					margin: 0 0 100px;
				}
				.avatar {
					float: right;
					position: absolute;
					top: 30px;
					right: 25px;
				}
			}
			.form_holder {
				.btn {
					margin-top: -10px;
				}
			}
		}
	}
}