/**
 * Scss file for all the buttonz
 */

.btn {
	background-color: #ddd;
	border-radius: $global-radius;
	color: #fff;
	cursor: pointer;
	height: 48px;
	line-height: 48px;
	font-size: 2.2rem;
	font-weight: 500;
	padding: 0 20px;
	text-align: center;
	width: 150px;
	&:hover {
		box-shadow: inset 0 0 0 1000px rgba(255,255,255,0.2);
	}
	&.left {
		float: left;
	}
	&.right {
		float: right;
	}
	&.center {
		margin: 0 auto;
	}
	&.blue {
		background-color: #00a0bc;
	}
	&.facebook {
		background-color: #3c5a98;
		font-size: 1.7rem;
		padding-left: 80px;
		position: relative;
		width: 300px;
		.icon {
			background-color: #324e89;
			background-image: url('images/icons/fb.svg');
			background-position: center;
			background-repeat: no-repeat;
			background-size: contain;
			background-origin: content-box;
			box-sizing: content-box;
			border-radius: $global-radius 0 0 $global-radius;
			fill: #fff;
			height: 28px;
			padding: 10px 12px;
			position: absolute;
			top: 0;
			left: 0;
			width: 28px;
		}
		span {
			font-size: 2.5rem;
			font-weight: 700;
		}
	}
	&.yellow {
		background-color: #ffc334;
	}
}