html {
	color: $main-color;
	font-family: 'Source Sans Pro', 'OpenSans', Arial, sans-serif;
	font-size: 62.5%;
	height: 100%;
	margin: 0;
	padding: 0;
}
body {
	background: #fff;
	background-image: url('images/pattern.png');
	background-repeat: repeat;
	background-size: 24px;
	box-shadow: inset 0 0 0 3000px rgba(255,255,255,0.45);
	color: $main-color;
	font-size: 1.4rem;
	min-height: 100vh;
	height: auto;
}
.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}
*,
*:after,
*:before {
  @include box-sizing(border-box);
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset;
}
input:-webkit-text-fill-color {
	color: $main-color !important;
}
.svg {
	fill: #fff;
}

// Parallax background
.parallax-viewport {
	font-size: 1.2rem;
	height: 100%;
	min-height: 100vh;
	margin: 0;
	padding: 0;
    position: fixed;     /* relative, absolute, fixed */
    overflow: hidden;
    width: 100%;
	.parallax-layer {
		height: 100%;
	    position: absolute;
	    width: 100%;
	    &.far {
	    	font-size: 1em;
	    }
	    &.mid {
	    	font-size: 2em;
	    }
	    &.close {
	    	font-size: 3em;
	    }
	    .circle {
	    	background-color: #ccc;
	    	background-position: center;
	    	background-size: 1em 1em;
			background-repeat: no-repeat;
	    	border-radius: 50%;
	    	height: 2em;
	    	position: absolute;
	    	width: 2em;
	    	&.facebook {
	    		background-color: #004e8f;
	    		background-image: url("images/icons/fb.svg");
	    	}
	    	&.github {
	    		background-color: #7ba2c2;
	    		background-image: url("images/icons/github.svg");
	    	}
	    	&.linkedin {
	    		background-color: #00a0bc;
	    		background-image: url("images/icons/linkedin.svg");
	    	}
	    	&.pinterest {
	    		background-color: #695375;
	    		background-image: url("images/icons/pinterest.svg");
	    	}
	    	&.twitter {
	    		background-color: #4fb6e2;
	    		background-image: url("images/icons/twitter.svg");
	    	}
	    	&.yelp {
	    		background-color: #ffc334;
	    		background-image: url("images/icons/yelp.svg");
	    	}
	    }
	}
}

// Main container
.container {
	background-color: #f5f5f5;
	border: 1px solid #cecece;
	border-radius: $global-radius;
	@include container(820px);
	&.auth {
		margin-top: 0;
		position: relative;
		top: 50vh;
		transform: translateY(-50%);
	}
	&.profile {
		transform: translateY(100px);
	}
	> .header {
		background-color: #81afc5;
		border-radius: $global-radius $global-radius 0 0;
		color: #fff;
		height: 120px;
		line-height: 40px;
		padding: 40px;
		position: relative;
		@include span(12 of 12);
		.icon {
			background-image: url('images/icons/edit.png');
			background-position: center;
			background-repeat: no-repeat;
			background-size: contain;
			float: left;
			height: 36px;
			width: 36px;
		}
		h1 {
			float: left;
			font-size: 34px;
			font-weight: 500;
			margin: 0;
			padding-left: 64px;
			text-transform: capitalize;
		}
		.loader {
			background-image: url("images/loader.png");
			background-position: 0 0;
			display: none;
			height: 5px;
			position: absolute;
			bottom: -30px;
			left: 0;
			width: 100%;
			&.active {
				display: block;
			}
		}
	}
	.content {
		.avatar {
			background-color: #fff;
			border: 1px solid #dcdcdc;
			border-radius: $global-radius;
			height: 96px;
			width: 96px;
			h4 {
				font-size: 1.5rem;
				font-weight: 300;
				margin: 0;
				position: relative;
				left: -96px;
			}
			.image {
				background-color: transparent;
				background-position: center;
				background-size: cover;
				background-repeat: no-repeat;
				border-radius: $global-radius;
				height: 100%;
				position: absolute;
				width: 100%;
				z-index: 100;
			}
			.upload {
				border-left: 15px solid transparent;
				border-right: 15px solid transparent;
				border-bottom: 15px solid #81afc5;
				height: 0;
				position: absolute;
				bottom: 36px;
				left: 50%;
				transform: translateX(-50%);
				width: 0;
				&::before {
					background-color: #81afc5;
					content: "";
					display: block;
					height: 13px;
				    position: relative;
				    top: 14px;
				    left: -6px;
				    width: 12px;
				}
				&::after {
					background-color: #81afc5;
					content: "";
					display: block;
					height: 4px;
				    position: relative;
				    top: 16px;
				    left: -15px;
				    width: 30px;
				}
			}
		}
		.spacer_hor {
			height: 1px;
			margin: 50px 0;
			width: 100%;
			background: #e5e5e5;
			background: -webkit-linear-gradient(left, #f5f5f5 0%, #e5e5e5 50%, #f5f5f5 100%);
			background: linear-gradient(to right, #f5f5f5 0%, #e5e5e5 50%, #f5f5f5 100%);
			&::after {
				background-color: #eaeaea;
				border: 1px solid #dfdfdf;
				border-radius: 50%;
				color: #bbb;
				content: "/";
				display: block;
				font-size: 1.6rem;
				height: 32px;
				line-height: 32px;
				margin: 0 auto;
				transform: translateY(-50%);
				text-align: center;
				width: 32px;
			}
		}
		form {
			input[type="text"],
			input[type="email"],
			input[type="password"],
			textarea {
				background-color: #fff;
				border: 1px solid #dcdcdc;
				border-radius: $global-radius;
				color: $main-color;
				font-size: 2rem;
				height: 50px;
				line-height: 50px;
				margin: 0 auto 3.6rem;
				outline: none;
				padding: 0 30px;
				width: 100%;
				&.large {
					font-size: 2.2rem;
					height: 60px;
					line-height: 60px;
					padding: 0 50px;
					@include placeholder-color(#e9e9e9);
				}
				&.small {
					font-size: 1.6rem;
					height: 36px;
					line-height: 36px;
					margin: 0 auto 2.4rem;
					padding: 0 16px;
				}
			}
			textarea {
				height: 80px !important;
			}
		}
	}
}
