/**
 * SCSS file for @media breakpoints
 */
@media (max-width: 820px) {
	.container {
		width: 95%;
		.header {
			.title {
				font-size: 2.4rem;
			}
		}
		&.profile {
			.content {
				.comments {
					.reply {
						form {
							input,
							textarea {
								width: 90%;
							}
						}
					}
				}
			}
		}
	}
	.btn.facebook {
		font-size: 1.4rem;
		padding-left: 55px;
		width: 240px;
		span {
			font-size: 2rem;
		}
	}
}
@media (max-width: 640px) {
	body {
		padding: 40px 0;
	}
	.container {
		.header {
			padding: 20px 40px;
			.icon {
				display: none;
			}
			.title {
				font-size: 2rem;
				padding-left: 0px;
			}
		}
		&.profile {
			transform: translateY(0);
		}
		&.auth {
			top: 0;
			transform: translateY(0);
			width: 90%;
			.content {
				> div {
					width: 100%;
					&:last-of-type {
						width: 100%;
					}
				}
				.register {
					margin-top: 40px;
					position: relative;
					.header {
						padding: 0;
						.avatar {
							top: 0;
						}
					}
				}
				.spacer {
					display: none;
				}
			}
		}
	}
}
@media(max-width: 360px) {
	.container {
		.header {
			.title {
				color: #81afc5;
				max-height: 80px;
				position: relative;
				overflow: hidden;
				&::after {
					color: #fff;
					content: "Login / Register";
					display: block;
					height: 80px;
					position: absolute;
					top: 20px;
					text-align: center;
					width: 100%;
				}
			}
		}
		.select2-search__field {
			width: 200px !important;
		}
		&.auth {
			.content {
				.register {
					.header {
						.avatar {
							h4 {
								display: none;
							}
						}
					}
				}
			}
		}
	}
	.btn.facebook {
		font-size: 1.2rem;
		padding-left: 45px;
		width: 200px;
		.icon {
			height: 16px;
			padding: 16px 10px;
			width: 16px;
		}
		span {
			font-size: 1.6rem;
		}
	}
}