/**
 * SCSS file for the Profile view
 */
.container.profile {
	.header {
		.icon {
			display: none;
		}
		.title {
			padding: 0;
		}
	}
	.content {
		margin: 2.5rem 0;
		margin-left: span(1 of 10) + gutter(10);
		@include span(8 of 10);
		> div {
			margin-bottom: 2rem;
		}
		.profile {
			.avatar {
				float: left;
				position: relative;
				.image {
					background-image: url('images/avatar/default.png');
				}
			}
			.info {
				float: left;
				margin: 1rem 0 0 2rem;
				> div {
					font-size: 1.6rem;
					height: 2.4rem;
					line-height: 2.4rem;
					span {
						color: #aaa;
					}
				}
			}
		}
		.tags {
			h1 {
				font-weight: 300;
				margin: 4rem 0 2rem;
			}
			.tag_holder {
				margin-bottom: 2rem;
			}
			.no_tag {
				font-style: italic;
				margin: 2rem 0;
			}
			.tag {
				background-color: #ddd;
				border-radius: 5px;
				cursor: pointer;
				font-size: 1.4rem;
				height: 22px;
				line-height: 30px;
				padding: 4px 8px;
				margin: 8px 5px;
				&:hover {
					box-shadow: inset 0 0 0 100px rgba(0,0,0,0.2);
				}
			}
		}
		.comments {
			h1 {
				border-bottom: 1px solid #ddd;
				font-weight: 300;
				margin: 4rem 0 2rem;
				padding-bottom: 2rem;
			}
			.no_comment {
				font-size: 1.6rem;
				font-style: italic;
				margin: 2rem 0;
			}
			.comment {
				border-bottom: 1px solid #e5e5e5;
				margin-bottom: 3rem;
				.name {
					font-size: 1.4rem;
					font-weight: 500;
				}
				.time {
					opacity: 0.6;
					font-style: italic;
				}
				.text {
					margin: 1rem 2rem 2rem;
					width: 60%;
				}
			}
			.reply {
				form {
					input,
					textarea {
						display: block;
						margin-left: 0;
						width: 60%;
					}
				}
			}
		}
	}
}